* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  font-family: "Work Sans", sans-serif;
}

.title {
  font-size: 6.5rem;
  font-weight: 700;
  line-height: 76.25px;
  color: #151414;
  margin-right: 23rem;
  margin-bottom: 2.4rem;
}
.all {
  margin-left: 2rem;
}
.believe {
  margin-left: 23.5rem;
}
.short-title {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 26px;
  color: #444343;
  margin-right: 20.2rem;
  margin-bottom: 3.2rem;
  width: 49.6rem;
  height: 7.8rem;
  align-self: flex-start;
}
.there {
  margin-left: 3.5rem;
}
.words {
  margin-left: 9rem;
}
.btn {
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.346rem;
  color: #fff;
  padding: 2rem 2.5rem;
  background-color: #f15b22;
  border-radius: 0.5rem;
  border: none;
  margin-right: 23.5rem;
  cursor: pointer;
}
.header {
  background-color: blue;
  height: 100vh;
  background-image: url(../images/banner/banner2.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.header-contents {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
  justify-content: center;
}
.personal {
  padding: 10rem;

  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 7rem;
  gap: 2rem;
}
.left-side-image {
  margin-left: 7.5rem;
}
.hero {
}

.right-side-future {
  flex-basis: 50%;
  margin-top: 12rem;
  margin-left: 8.5rem;
}
.checkBox .check {
  height: 24px;
  width: 24px;
}
.paragaraph {
}
.paragaraph-first {
  font-weight: 700;
  font-size: 4rem;
  line-height: 4.692rem;
  color: #151414;
  margin-bottom: 2.4rem;
}
.paragaraph-sceond {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: #444343;
  margin-bottom: 1.6rem;
  width: 45rem;
}
.checkBox {
}
.check-title {
  display: flex;
  gap: 1.4rem;
  align-items: center;
  margin-bottom: 1.6rem;
}
.check {
  fill: #16d887;
}
.tit {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: #444343;
}
.plans-gradient {
}
.plans-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 1rem 8.5rem 1rem;
}
.plans-title {
  font-size: 4rem;
  font-weight: 700;
  line-height: 4.692rem;
  color: #151414;
  padding: 2rem 1rem;
  margin-bottom: 1rem;
}
.plans-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: 8.5rem;
}
.plans-icon {
  margin-right: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.single-icon {
  height: 5.5rem;
  width: 5.5rem;
}
.web {
  fill: rgb(46, 173, 46);
}
.smoke {
  fill: rgb(240, 47, 47);
}
.shopping {
  fill: rgb(23, 23, 194);
}
.to-be-bold {
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.519rem;
  color: #151414;
  text-align: center;
  margin: 1rem 0;
}
.to-be-thin {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 2.933rem;
  color: #151414;
  text-align: center;
}
.gradient-box {
  background-color: #16d887;
  margin: 0 auto;
  width: 114rem;
  height: 30rem;
  margin-top: 1rem;
  border-radius: 1rem;
  background-image: linear-gradient(to right, #f15b22, rgba(241, 91, 34, 0)), url("../images/watch.png");
  background-size: cover;
  position: relative;
}
.text-btn {
  height: 21rem;
  width: 50rem;
  position: absolute;
  left: 6.4rem;
  top: 6.9rem;
}
.typo-fild {
  font-size: 4rem;
  font-weight: 700;
  line-height: 4.692rem;
  color: #fff;
}
.btn-white {
  background-color: #fff;
  color: #f15b22;
  margin-top: 2.4rem;
}
.anchor {
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  text-decoration: none;
  color: #151414;
}
.anchor-first {
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  text-decoration: none;
  color: #fff;
}
.video {
  height: 12rem;
  width: 15rem;
  background-color: tomato;
}
.footer {
  background-color: #151414;
  display: flex;
  align-items: center;
  margin-top: 17rem;
}
.footer-left {
  flex-basis: 50%;
}
.footer-left-box {
  width: 48.5rem;
  height: 31.7rem;

  margin: 13rem 0;
  margin-left: 23rem;
}
.flb-title {
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 5.279rem;
  color: #f8f8f8;
  margin-bottom: 1.6rem;
}
.flb-paragaraph {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.6rem;
  color: #fff;
  margin-bottom: 2.4rem;
}
.flb-links {
}
.contact {
  margin-bottom: 3.2rem;
}
.anchor-icons {
  margin-right: 1.7rem;
}
.contact-email {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.6rem;
  color: #fff;
}
.contact-number {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.6rem;
  color: #fff;
}
.contact-icons {
}

.contact-icons > img {
}
.footer-right {
  padding: 15rem 0;
  margin-left: 20rem;
}
.footer-right-box {
}
.subscribe {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 2.9rem;
  color: #fff;
  margin-bottom: 3rem;
}
.form {
}
.input {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.1rem;
  color: #fff;
  display: block;
  height: 5.4rem;
  width: 32.5rem;
  border-radius: 0.8rem;
  border: 2px solid #f8f8f8;
  margin-bottom: 1.6rem;
  background-color: #151414;
  padding: 2rem 2rem;
}
input::placeholder {
  color: #f8f8f8;
  opacity: 0.5;
}
.blur-video {
  position: relative;
  margin-top: 16rem;
  border-bottom: 1rem solid #151414;
  margin-bottom: 18rem;
}
video {
  filter: opacity(90%);
  /* transform: translateX(10%) translateY(40%); */
}

.bv-title {
  font-size: 8rem;
  font-weight: 700;
  line-height: 4rem;
  position: absolute;
  letter-spacing: 5px;
  background-color: #00bfff38;
  height: 11rem;
  width: 161rem;
  top: 50%;
  border: 0.5rem solid #151414;

  display: flex;
  align-items: center;
  justify-content: center;
}
.dot {
  font-size: 12rem;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: -12rem;
  margin-bottom: -3rem;
}
